<!doctype html>
<html lang="en">
<head>
    <title>{ifset $title}{$title}{/ifset}</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="{$basePath}/assets/css/all.css">
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
{include #content}
</body>
</html>
