http:
    proxy: 127.0.0.1

application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter

mail:
    smtp: true
    host: 127.0.0.1
    port: 25
    username: "user"
    password: "pass"
    secure: "ssl"
    timeout: 10

database:
    default:
        dsn: "pgsql:host=127.0.0.1;port=5432;dbname=test"
        user: postgres
        password: root

parameters:
    recaptcha:
        sitekey: ""
        secret: ""

tracy:
    strictMode: true

services:
    router: App\RouterFactory::createRouter
    database: @database.default
    translator:
        class: App\Locale\Translator
